{% extends 'quotes/base.html' %}

{% block content %}
<h2>{{title}}</h2>

<form action="{% url 'quotes:add_author' %}" method="post" accept-charset="utf-8">

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}</div>
{% endif %}


    {% csrf_token %}

    <div>
        {% for field in form %}
        <div class="form-label">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        </div>

    <button type="submit" class="btn btn-success">Add</button>
</form>

{% endblock %}

<!--{{ form.as_p }}   </p>
    <div style="padding: 8px">
        <p><label class="form-label"> for="{{ form.fullname.id_for_label }}">{{form.fullname.label}}: </label>
            {{form.fullname}}</p>